{{> head }}
{{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Goku</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maiores officia placeat itaque, expedita alias libero aliquid. Consectetur, facilis rerum totam similique doloremque nobis, magni omnis ipsam eius repellendus tenetur. Quaerat.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/foto.jpg" class="img-thumbnail">
        </div>
    </div>

  {{> footer }}